<div class="showgarment_container">
  <div id="showgarment_img">
  <img src="<%= @garment.image_url%>" style="width: 480px; height: 480px;" class="img-thumbnail">
  </div>

  <div id="showgarment_content">
    <div class="panel panel-default" id="showgarment_details">
  <!-- Default panel contents -->
    <div class="panel-heading" style="font-size: 18px; "><%= @garment.garment_name.capitalize%></div>
    <div class="panel-body">
    <p>SOME DESCRIPTION </p>
    </div>
  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item">Location: <%= @garment.location%></li>
    <li class="list-group-item">Brand:    <%= @garment.brand%></li>
    <li class="list-group-item">Size:     <%= @garment.size%></li>
    <li class="list-group-item">Status:   <%= @garment.status%></li>
    <li class="list-group-item">Buy in:   <%= @garment.buy_value%></li>   
    <li class="list-group-item">Currency: <%= @garment.buy_currency%></li>  
    <li class="list-group-item">Date:     <%= @garment.buy_date%></li>
    <li class="list-group-item">Sold on:  <%= @garment.sold_value%></li>   
    <li class="list-group-item">Currency: <%= @garment.sold_currency%></li>
    <li class="list-group-item">Record on: <%= @garment.record_date%></li>
  </ul>
</div>
   <div class="act_forms">
   <!-- two buttons for update and delete   -->

   <a href="/updategarment/showedit/<%= @garment.id%>" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Update
   </a>
  
<!--     <button class="btn btn-default btn-lg"> -->
  
  <form action="/deletegarment/<%= @garment.id%>" method=post>
  <input type="hidden" name="_method" value="delete">
    <button class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Remove</button> 
   </form>
   </div>
  </div>

</div>
